/* body main styling */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

/* jumbotron main styling */

.jumbotron {
    font-weight: bold;
    font: italic;
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 30px solid navy;
}

.jumbotron .jumbotron-wd-text {
    font-weight: bold;
}

.jumbotron-wd-text p {
    font-size: 15px;
}
/* textarea main styling (criteria entered into the time slots) */

textarea {
    background-color: #393737;
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-bottom: 1px solid black;
    padding: 10px;
}

.description {
    white-space: pre-wrap;
}

.time-block {
    text-align: center;
    border-radius: 15px;
}

.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid #ffffff;
}

.hour {
    justify-content: center;
    text-align: center;
    background-color:gray;
    color: #000000;
    border: 1px dashed #000000;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 10px;
}

.past {
    background-color: #393737;
    color: #ffffff;
}

.future {
    background-color: #244e24;
    color: #ffffff;
}

.present {
    background-color: #8f241e;
    color: #ffffff;
}

/* Save Button main styling */

.saveBtn button {
    border-left: 1px solid #000000;
    background-color: lightblue;
    color: navy;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.saveBtn i:hover {
    font-size: 18px;
    transition: all .3s ease-in-out;
}

.col-md-10 {
    scale: 100%;
    background-color: lightgrey;
}

button .btn .saveBtn .col-md-1 {
    scale: 100%;
    background-color: navy;
}